body{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px;
  }
  .password-form{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  input, input::placeholder{
    text-align:center;
  }
  .search{
    display:flex;
    column-gap: 30px;
  }
  .transactions-count{
    align-self: flex-start;
    color:#6c757d;
  }
  td, th {
    text-align: center;
  }